body {
    background-color: #E27D60;
}

h2 {
    color: #FFFFFF;
    display: inline;
    font-size: 35px;
    margin-left: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

nav {
    /* display: inline; */
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

a {
    padding-left: 12px;
    color: #FFFFFF;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #85DCB8;
    margin-top: 50px;
    padding: 10px;
    width: 50%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.603);
  }
/* #map{
    height: 400px;
    width:100%;
} */