<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="../../public/css/font.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <title>Footer</title>
</head>
<body>
    <footer class="page-footer">
          <div class="row footer-content">
            <div class="col l1 s12">
              <div class="footer-logo"></div>
            </div>
            <div class="col l5 s12">
              <h5 class="white-text">Contact Us</h5>
              <p class="grey-text text-lighten-4">zarap@gmail.com <br>+(8) 552 3877</p>
            </div>
        </div>
        <div class="footer-copyright">
          <div class="copyright-text">
          © 2020 Tatlong Bading
          </div>
        </div>
      </footer>
</body>
</html>