<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/font.css">

    <title>Welcome to zarap</title>
</head>
<body>
  
  <div class ="blue-grey lighten-2">
    <div>
      <ul class ="navright right hide-on-med-and-down"  id="nav-mobile">
        <li class ="navitem pushdown"><a href="login" class ="white-text">Login</a></li>
        <li class ="navitem boxed"><a href="#"  class ="white-text">Register</a></li>
      </ul>
    </div>
    
    <div class ="container pad4">
      <div class ="col s12 m2 valign-wrapper center-align">
        <p class ="z-depth-2 title">zarap</p>
      </div>
      <div class ="center">
        <p>Find the best restaurants in the metro and so much more</p>
      </div>
      <br>
      <div class ="row">
        <form class ="col s12">
            <div class ="input-field col s6 offset-s2 searchround">
              <input type="text" class ="white truncate padinput" name="searchbar" placeholder="Search your favorite restaurants here...">
            </div>
            <a class ="waves-effect waves-light btn pushdown #e53935 red darken-1" >search</a>
        </form>
      </div>
      <br>
      <br>
    </div>
  </div>

    
  <div class ="lowerhalf">
    <div class ="row">
      <div class ="col offset-s1">
        <h3>Collections</h3>
        <p class ="truncate">Explore curated lists of top restaurants, cafe, pubs, and bars in Metro Manila, based on trends</p>
      </div>
    </div>

    <div class ="row">
      <div class =" col s12 offset-s1">
        <div class ="col s12 m3 margin_right_5">
          <div class ="card blue-grey darken-1">
            <div class ="card-content white-text">
              <span class ="card-title">Card Title</span>
              <p>Insert Text Here</p>
            </div>
            <div class ="card-action">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class ="col s12 m3 margin_right_5" >
          <div class ="card blue-grey darken-1">
            <div class ="card-content white-text">
              <span class ="card-title">Card Title</span>
              <p>Insert Text Here</p>
            </div>
            <div class ="card-action">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class ="col s12 m3 margin_right_5" >
          <div class ="card blue-grey darken-1">
            <div class ="card-content white-text">
              <span class ="card-title">Card Title</span>
              <p>Insert Text Here</p>
            </div>
            <div class ="card-action">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
</html>