body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*Header*/
#zarap {
    padding-left:20px;  
    font-size: 30px; 
} 
  
nav {
    height: 80px;
}
  
.nav-wrapper{
    background-color: #CB202D; 
    padding: 10px; 
}

.navbar-fixed{
    height: 80px;  
}

.search-section{
    display: inline-block; 
    text-align: center;
}

.search-section.valign-wrapper{
    width: 100%; 
    line-height: 80px; 
}

.search-bar{ 
    width: 30vw !important; 
    margin-right: 2vw !important; 
    display: inline-block; 
}

.search-bar-small{
    width: 80vw !important; 
    vertical-align: middle;
}

.search-bar-small + a {
    width: 20vw !important;
    vertical-align: middle; 
}

.search-box{
    border:5px; 
    border-color: #2D2D2D; 
    border-radius: 10px !important; 
    z-index: 5px; 
}

/*Main Content*/
.search-text{
    padding-left:3%;
    padding-right:3%;
}

.main-content{
    display:flex;
    padding-left: 3%;
    padding-right: 3%;
}

.restaurant-list{
    padding-left: 2%;
}

/*Main Content for Desktop only*/
.restaurant-image{
    padding: 2%;
    min-width: 500px;
    min-height: 340px;
    max-width: 500px;
    max-height: 340px;
}

.restaurant-info{
    display: flex;
    margin-left: 80px
}

.restaurant-establisment-type{
    font-size: 120%;
}

.restaurant-name{
    font-size:180%;
}

.restaurant-location{
    font-size:110%;
}

.restaurant-address{
    font-size:100%;
}

.restaurant-other-info{
    font-size:90%;
}


/*Main Content for Tablet and Mobile*/
.mobile-restaurant-list{
    padding-left: 2%;
    padding-right: 2%;
}

.mobile-restaurant-image{
    padding: 2%;
    min-width: 150px;
    min-height: 120px;
    max-width: 150px;
    max-height: 120px;
}

.mobile-restaurant-info > .card-title{
    font-size: 90%;
    text-align: center !important;
}

.mobile-restaurant-info > .card-content{
    font-size: 70%;
    color: grey;
    text-align: left !important;
    padding: 0px;
}

.card-image > button{
    position: absolute;
    right:0px;
    top:0px;
}

/*Footer*/
footer {
    background-color: #2D2D2D !important;
}

.page-footer{
    padding: 0px !important; 
}

.footer-content{
    padding: 20px 20px;
    margin: 0px !important; 
}

.footer-copyright{
    background-color: #FFFFFF !important; 
}

.copyright-text{ 
    line-height: 30px !important; 
    text-align: center !important; 
    padding-left: 20px; 
    color: #2D2D2D !important; 
}

.footer-logo{     
    height: 100px !important; 
    width: 100px !important; 
    background-image: url('logo.png');
    background-size: 100% 100%; 
}

@media only screen and (max-width: 600px) {
    .footer{
        width: 100%; 
    }
    .copyright-text, .logo-container, .footer-text{
        padding: 0px; 
        width: 100%; 
        text-align:center; 
    }
    .footer-logo{
        margin: 0 auto; 
    }
}

/*Font*/
@font-face {
    font-family: metropolis;
    src: url(../../metropolis/Metropolis-Regular.otf);
}

* {
    font-family: metropolis;
}