#zarap {
    padding-left:20px;  
    font-size: 30px; 
} 
  
nav {
    height: 80px;
}
  
.nav-wrapper{
    background-color: #CB202D; 
    padding: 10px; 
}

.navbar-fixed{
    height: 80px;  
}

.search-section{
    display: inline-block; 
    text-align: center;
}

.search-section.valign-wrapper{
    width: 100%; 
    line-height: 80px; 
}

.search-bar{ 
    width: 30vw !important; 
    margin-right: 2vw !important; 
    display: inline-block; 
}

.search-bar-small{
    width: 80vw !important; 
    vertical-align: middle;
}

.search-bar-small + a {
    width: 20vw !important;
    vertical-align: middle; 
}

.search-box{
    border:5px; 
    border-color: #2D2D2D; 
    border-radius: 10px !important; 
    z-index: 5px; 
}
  