body {
    background-color: #F4F4F2;
}

.padnav {
    padding-left: 15px;
    background-color: #CB202D;
}

.padinput {
    padding-left: 10px !important;
    box-sizing: border-box;
    border-radius: 4px !important;
}

.btncolor {
    background-color: #2D2D2D !important;
}

.hover:hover {
    color:#CB202D !important;
    text-decoration: underline;
}

.log_size {
    font-size:5vw;
}

.padleft {
    margin-left: 2%;
}

.margin_top {
    margin-top: 6vw;
}